<!DOCTYPE html>
<html>
  <head>
    <title inertia><%= content_for(:title) || @meta&.dig(:title) || "Signify" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= capybara_lockstep if defined?(Capybara::Lockstep) %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if @meta.present? %>
      <meta name="description" content="<%= @meta[:description] %>">
      <meta name="author" content="<%= @meta[:author] %>">
      <link rel="canonical" href="<%= @meta[:canonical_url] %>">

      <meta property="og:title" content="<%= @meta[:og_title] %>">
      <meta property="og:description" content="<%= @meta[:og_description] %>">
      <meta property="og:url" content="<%= @meta[:og_url] %>">
      <meta property="og:image" content="<%= @meta[:og_image] %>">
      <meta property="og:type" content="<%= @meta[:og_type] %>">
      <meta property="article:published_time" content="<%= @meta[:published_time] %>">
      <meta property="article:author" content="<%= @meta[:author] %>">

      <meta name="twitter:card" content="<%= @meta[:twitter_card] %>">
      <meta name="twitter:title" content="<%= @meta[:og_title] %>">
      <meta name="twitter:description" content="<%= @meta[:og_description] %>">
      <meta name="twitter:image" content="<%= @meta[:og_image] %>">
    <% end %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/signify-logo.png" type="image/png">
    <link rel="apple-touch-icon" href="/signify-logo.png">

    <script>
      <%# Enable dark mode based on localStorage or system preference. Inline to avoid FOUC. %>
      document.documentElement.classList.toggle(
        "dark",
        localStorage.appearance === "dark" ||
          (!("appearance" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches),
      );
    </script>

    <%= vite_stylesheet_tag "application" %>
    <%= vite_react_refresh_tag %>
    <%= vite_client_tag %>
    <%= vite_typescript_tag "inertia" %>
    <%= inertia_ssr_head %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
